/* HEADER LAYOUT */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
}

/* LAYOUT DE COLUNAS
.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
}

.center {
  flex: 2;
  justify-content: center;
}

.right {
  flex: 1;
  justify-content: flex-end;
} */

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 30px;
  height: 30px;
}

/* MENU */
.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #5b21b6;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ff7757;
  position: absolute;
  left: 0;
  bottom: -4px;
  border-radius: 2px;
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.nav-active {
  color: #ff7757;
  font-weight: bold;
}

.nav-links a.nav-active::after {
  width: 100%;
  background: #ff7757;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.signup {
  background: #ff7757;
  color: white;
}

.login {
  background: #ff7757;
  color: white;
}

/* BOTÃO DE PERFIL */
/* .profile-btn {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
}

.profile-btn:hover {
  background-color: #e85c32;
} */

/* TITLE */
.faq-title {
  position: relative;
  background-image: url("/assets/img/faq.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  color: white;
  padding: 4rem 0 2rem 19rem;
  display: flex;
  align-items: flex-end;
}

.faq-title::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ); /* camada branca translúcida para clarear */
  z-index: 1;
}

.faq-title > * {
  position: relative;
  z-index: 2; /* texto acima da camada */
}

/*titulo como podemos ajudar */
.faq-ajuda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.faq-subtitulo {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 5rem;
  color: #ad9595;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0 0rem 14rem;
}

/* linha pós faq*/
.linha-custom {
  border-bottom: 2px solid #ff7043;
  display: inline-block;
  width: 80px;
}

/* CONTEÚDO DO FORMULÁRIO */
.faq-container {
  margin: 0 auto;
  background-color: #43254c;
  padding: 2rem;
}

.faq-container .header h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #5e2ca5;
}

.faq-form .row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.faq-form .row input {
  flex: 1;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  background-color: #ff7043;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  color: black;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.faq-answer {
  padding: 1rem;
  background-color: #f9f9f9;
  display: block;
  border-left: 3px solid #ff7043;
  border: none;
  font-size: 1rem;
  color: black;
  width: 900px;
  margin: 0 auto;
}
