<header class="header">
  <div class="left">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="logo CulturApp" />
      <span>CulturApp</span>
    </div>
  </div>

  <div class="center">
    <nav class="nav-menu">
      <a href="#">Home</a>
      <a href="#">Eventos</a>
      <a href="#">FAQ</a>
      <a href="#">Sobre</a>
    </nav>
  </div>

  <div class="right">
    <button class="profile-btn">Perfil</button>
  </div>
</header>

<body>
  <!-- FUNDO COM IMAGEM -->
  <section class="faq-title">
    <h1 class="linha-custom">FAQ</h1>
  </section>

  <!-- CONTAINER Como podemos ajudar -->
  <div class="faq-container">
    <div class="faq-subtitulo">Atendimento do CulturaApp</div>
    <!-- <input type="text" placeholder="Busca" /> -->
    <div class="faq-ajuda">COMO PODEMOS AJUDAR?</div>

    <div class="faq-item">
      <button type="button" class="faq-question">Pagamentos</button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>

    <div class="faq-item">
      <button type="button" class="faq-question">Gerenciar sua conta</button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>

    <div class="faq-item">
      <button type="button" class="faq-question">Eventos</button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>

    <div class="faq-item">
      <button type="button" class="faq-question">
        Segurança e privacidade
      </button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>
  </div>

  <!-- final background roxo -->
  <div class="faq-container">
    <h2 class="faq-ajuda">Ajuda Rapida</h2>

    <div class="faq-item">
      <button type="button" class="faq-question">
        Como faço para criar uma conta no Culturapp?
      </button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>

    <div class="faq-item">
      <button type="button" class="faq-question">
        Preciso pagar para usar o Culturapp?
      </button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>

    <div class="faq-item">
      <button type="button" class="faq-question">
        Como encontro eventos na minha cidade?
      </button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>

    <div class="faq-item">
      <button type="button" class="faq-question">
        Como compro ingressos para um evento?
      </button>
      <div class="faq-answer">
        A CulturApp é uma plataforma que conecta eventos culturais com o
        público, promovendo acessibilidade e visibilidade para artistas locais.
      </div>
    </div>
  </div>

  <div style="background-color: #43254c"></div>
</body>
