<header class="header">
  <div class="left">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="logo CulturApp" />
      <span>CulturApp</span>
    </div>
  </div>

  <div class="center">
    <nav class="nav-menu">
      <a href="#">Home</a>
      <a href="#">Eventos</a>
      <a href="#">FAQ</a>
      <a href="#">Sobre</a>
    </nav>
  </div>

  <div class="right">
    <a class="profile-btn" href="/perfil-empresa" style="text-decoration: none;">Perfil</a>
  </div>
</header>

<!-- FUNDO COM IMAGEM -->
<section class="hero-banner">
  <h1 style="color: #ff7043;">Criar evento</h1>
</section>

<!-- CONTAINER DO FORMULÁRIO -->
<div class="event-container">
  <form class="event-form">
    <fieldset>
      <legend>Informações do Evento</legend>

      <input type="text" placeholder="Título do evento" />
      <input type="text" placeholder="Tipo do evento" />
      <textarea placeholder="Descrição do evento"></textarea>

      <div class="row">
        <input type="number" placeholder="Capacidade Local" />
        <input type="number" placeholder="Menor valor do ingresso" />
        <input type="number" placeholder="Pontos" />
      </div>

      <div class="address-section">
        <input type="text" placeholder="CEP" />
        <input type="text" placeholder="Número" />
        <input type="text" placeholder="Estado" />
        <input type="text" placeholder="Cidade" />
        <input type="text" placeholder="Rua/Avenida" />
        <input type="text" placeholder="Bairro" />
        <input type="text" placeholder="Complemento" />
      </div>
    </fieldset>

    <fieldset>
      <legend>Dia e hora</legend>
      <div class="row">
        <label>Data início do evento:
          <input type="date" />
        </label>
        <label>Data final do evento:
          <input type="date" />
        </label>
        <label>Início da venda:
          <input type="date" />
        </label>
        <label>Final da venda:
          <input type="date" />
        </label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Status</legend>
      <select>
        <option>ATIVO</option>
        <option>INATIVO</option>
      </select>
    </fieldset>

    <div class="buttons">
      <button class="btn save" type="submit">Salvar evento</button>
      <button class="btn update" type="button" onclick="window.location.href='/editar-evento'">Atualizar evento</button>
      <button class="btn cancel" type="button" onclick="window.location.href='/perfil-empresa'">Cancelar evento</button>
    </div>
  </form>
</div>
