<div class="d-flex vh-100">
  <!-- Lado esquerdo -->
  <div
    class="col-md-6 bg-light d-flex flex-column justify-content-start align-items-center px-5"
  >
    <!-- Header -->
    <div
      class="w-100 mb-4 d-flex justify-content-between align-items-center mt-4"
    >
      <div class="logo">
        <img src="./assets/img/logo.png" alt="logo CulturApp" />
        <span>CulturApp</span>
      </div>

      <div>
        <a class="nav-link nav-underline d-inline px-2 fw-bold" href="/home"
          >Home</a
        >
        <a
          class="nav-link nav-underline d-inline px-2 fw-bold"
          href="/eventpage"
          >Eventos</a
        >
        <a class="nav-link nav-underline d-inline px-2 fw-bold" href="/faq"
          >Faq</a
        >
        <a class="nav-link nav-underline d-inline px-2 fw-bold" href="/sobre"
          >Sobre</a
        >
      </div>
    </div>

    <!-- Formulário centralizado e com espaçamento abaixo do logo -->
    <div
      class="d-flex justify-content-center align-items-start w-100"
      style="margin-top: 120px"
    >
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="w-100"
        style="max-width: 350px"
      >
        <h3 class="mb-4 text-center">Entre na sua conta</h3>

        <div class="mb-3">
          <label class="form-label">Email</label>

          <input
            class="form-control input-laranja-claro"
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </div>

        <div class="mb-2 position-relative">
          <label class="form-label">Senha</label>

          <input
            class="form-control"
            type="password"
            formControlName="password"
            placeholder="Senha"
          />

          <small class="text-end d-block mt-1">
            <a href="#" class="text-muted">Esqueceu a senha?</a>
          </small>
        </div>

        <button type="submit" class="btn btn-login w-100 mt-3">Entrar</button>

        <div class="text-center mt-3">
          <small
            >Não tem conta?
            <a href="/cadastro" class="text-orange fw-bold">Crie uma conta</a>
          </small>
        </div>
      </form>
    </div>
  </div>

  <!-- Lado direito com imagem -->
  <div class="col-md-6 d-none d-md-block p-0">
    <img
      src="assets/img/teatro.jpg.png"
      alt="Teatro"
      class="img-fluid h-100 w-100 object-fit-cover"
    />
  </div>
</div>
